.settings-header {
	background-color: #566674;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 0.5em 0.5em;
}

.settings-header > div {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.settings-header > div:first-child {
	justify-content: flex-start;
}

.settings-header button {
	padding: 0;
	width: 43px;
	height: 43px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.settings-header h2 {
	padding: 0;
	margin: 0;
}

.settings-main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.settings-section {
	text-align: left;
	display: grid;
	grid-template-columns: max-content auto;
	font-size: 0.8em;
	width: 500px;
	align-items: center;
	justify-content: stretch;
	padding-top: 1.5em;
}

.settings-section h2 {
	grid-column: 1 / -1;
	margin: 0 0 0.5em 0;
	padding: 0;
}

.settings-section :last-child {
	grid-column: 1 / -1;
}

.settings-section > div {
	display: flex;
	flex-direction: row;
}

.settings-section > div > input {
	flex: 1;
}

.settings-section+.settings-section {
	border-top: 1px solid #667684;
}

.settings-btn {
	width: 15em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
}

.settings-main button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.settings-main label {
	text-align: right;
	font-weight: 600;
	padding-right: 0.5em;
}