.h1 {
	font-size: 1.5em;
	font-weight: bold;
}

.h-sub {
	margin-bottom: 1em;
}

.h2 {
	font-size: 1.5em;
}

.open-database > * + * {
	margin-top: 2em;
}

.create-database > * + * {
	margin-top: 2em;
}

.directory-tree {
	font-weight: bold;
}

.directory-tree *:nth-child(2) {
	padding-right: 5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.entry-list > * {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.directory-list image {
	padding-left: 2em;
}

.directory-list label {
	padding-right: 5em;
}

.message.dialog {
	padding-top: 2em;
}

.message.dialog .dialog-action-box {
	margin-top: 1em;
}

textview {
	padding: 8px;
}

.generate-popover label {
	font-weight: bold;
}