name: Test
on:
  pull_request:
  push:

jobs:
  check:
    name: Check
    runs-on: ubuntu-22.04
    steps:
      - run: sudo apt-get update && sudo apt-get install -y libssl-dev libwebkit2gtk-4.1-dev libsoup2.4-dev libjavascriptcoregtk-4.1-dev libgtk-3-dev libglib2.0-dev libdbus-1-dev libxdo-dev libayatana-appindicator3-dev librsvg2-dev
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo check --all-features
  
  test:
    name: Run test suite
    runs-on: ubuntu-22.04
    steps:
      - run: sudo apt-get update && sudo apt-get install -y libssl-dev libwebkit2gtk-4.1-dev libsoup2.4-dev libjavascriptcoregtk-4.1-dev libgtk-3-dev libglib2.0-dev libdbus-1-dev libxdo-dev libayatana-appindicator3-dev librsvg2-dev
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo test --all-features
  
  fmt:
    name: Check formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt
      - run: cargo fmt --all -- --check
  
  clippy:
    name: Check for linting errors
    runs-on: ubuntu-22.04
    steps:
      - run: sudo apt-get update && sudo apt-get install -y libssl-dev libwebkit2gtk-4.1-dev libsoup2.4-dev libjavascriptcoregtk-4.1-dev libgtk-3-dev libglib2.0-dev libdbus-1-dev libxdo-dev libayatana-appindicator3-dev librsvg2-dev
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - run: cargo clippy --all-features -- -D warnings

  coverage:
    name: Run test coverage
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - name: Toolchain setup
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: llvm-tools-preview
      - name: Install grcov
        run: if [[ ! -e ~/.cargo/bin/grcov ]]; then cargo install grcov; fi
      - name: Updating package repo
        run: sudo apt-get update
      - name: Installing dependencies
        run: sudo apt-get install -y libssl-dev libwebkit2gtk-4.1-dev libsoup2.4-dev libjavascriptcoregtk-4.1-dev libgtk-3-dev libglib2.0-dev libdbus-1-dev libxdo-dev libayatana-appindicator3-dev librsvg2-dev
      - name: Run tests
        run: cargo test --all-features
        env:
          RUSTFLAGS: '-C instrument-coverage'
          LLVM_PROFILE_FILE: 'report-%p-%m.profraw'
      - name: Run grcov
        run: grcov . --binary-path target/debug/deps/ -s . -t lcov --branch --ignore-not-existing --ignore "../**" --ignore "/*" --ignore "ui/*" --ignore "target/debug/build/cssparser*" --ignore "target/debug/build/html5ever*" --ignore "target/debug/build/markup5ever*" -o coverage.lcov
      - name: Coveralls upload
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: coverage.lcov